# Deployed contract addresses (evm-1 testnet)
NEXT_PUBLIC_ZRINGOTTS_ADDRESS=0xdEF586E63Cf2f20cBE9F055b738Cd4CEDA273900
NEXT_PUBLIC_WETH_ADDRESS=0xF335a9B58f2AA6A2f884d2dA4E308F7378A4CF7e
NEXT_PUBLIC_USDC_ADDRESS=0x4b8e385427b5bA8ABf900c1bE41A425Df3aB2A94

# EVM chain config
NEXT_PUBLIC_CHAIN_ID=2124225178762456
NEXT_PUBLIC_RPC_URL=https://jsonrpc-evm-1.anvil.asia-southeast.initia.xyz

# InterwovenKit / Bridge config (cosmos layer)
NEXT_PUBLIC_INTERWOVEN_CHAIN_ID=evm-1
NEXT_PUBLIC_INTERWOVEN_RPC_URL=https://rpc-evm-1.anvil.asia-southeast.initia.xyz
NEXT_PUBLIC_INTERWOVEN_REST_URL=https://rest-evm-1.anvil.asia-southeast.initia.xyz
NEXT_PUBLIC_INTERWOVEN_INDEXER_URL=https://indexer-evm-1.anvil.asia-southeast.initia.xyz
NEXT_PUBLIC_INTERWOVEN_BRIDGE_DENOM=uinit
