# Deployed contract addresses (evm-1 testnet) - No Oracle Version
NEXT_PUBLIC_ZRINGOTTS_ADDRESS=0x510BF2877a200b5aE58a327A442638817B88C5dE
NEXT_PUBLIC_WETH_ADDRESS=0xc5a4BCea0AB9f86CA1b1502aB9D7b3224EB221ea
NEXT_PUBLIC_USDC_ADDRESS=0xCBA2A1554C350AEcaA311917aEf0F7C266600BdA

# EVM chain config
NEXT_PUBLIC_CHAIN_ID=2124225178762456
NEXT_PUBLIC_RPC_URL=https://jsonrpc-evm-1.anvil.asia-southeast.initia.xyz

# InterwovenKit / Bridge config (cosmos layer)
NEXT_PUBLIC_INTERWOVEN_CHAIN_ID=evm-1
NEXT_PUBLIC_INTERWOVEN_RPC_URL=https://rpc-evm-1.anvil.asia-southeast.initia.xyz
NEXT_PUBLIC_INTERWOVEN_REST_URL=https://rest-evm-1.anvil.asia-southeast.initia.xyz
NEXT_PUBLIC_INTERWOVEN_INDEXER_URL=https://indexer-evm-1.anvil.asia-southeast.initia.xyz
NEXT_PUBLIC_INTERWOVEN_BRIDGE_DENOM=uinit
